[2017-06-21 15:27] fiveisprime opened #16 "Normalize DocDB/Cosmos DB samples"
The samples page (https://docs.microsoft.com/en-us/nodejs/azure/node-samples-services-database?view=azure-node-2.0.0) includes samples for both DocumentDB and Cosmos DB. The DocumentDB examples need to be updated to use Cosmos DB and the grouping should also be adjusted.

[2017-07-17 16:04] jawache opened #94 "Azure tools for Node.js developers - Remove Steps text"
At a glance this reads as the only way to use Azure is by installing the CLI **and** by using Code (step 2 of a 2 step process).

Suggest we remove the "Step 1/2"?

![screenshot 2017-07-17 16 58 11](https://user-images.githubusercontent.com/897523/28277471-fd6ac1c0-6b11-11e7-9629-51a0e1d3e834.png)

[2017-08-18 17:12] fiveisprime opened #203 "Need client samples for Key Vault"
The key vault docs only include the management plane pieces. This should be expanded to show the client functionality or, at least, point to the client SDK for these kinds of operations:

* Manage keys: create, import, update, delete, backup, restore, list and get
* Key operations: sign, verify, encrypt, decrypt, wrap, unwrap
* Secret operations: set, get, update and list
* Certificate operations:

[2017-11-12 14:05] craigshoemaker commented on #94
this is taken care of via this committ: 242900f197f9f54a20d4b8a82cb3bc2b754b1edb

[2017-12-18 17:55] craigshoemaker commented on #94
Closing as a result of the above commit.

[2017-12-18 17:55] #94 closed

[2018-01-25 20:34] Marc-013 opened #255 "Backup.md example -> TypeError: client.jobs.list is not a function"
Hi,

When I execute code example provided at
[https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/backup.md](https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/backup.md) I get the following error message:

`To sign in, use a web browser to open the page https://aka.ms/devicelogin and enter the code CA3LZDEPE to authenticate.
TypeError

[2018-02-02 19:31] Marc-013 commented on #255
Managed to figure out the solution myself.

`return client.jobs.list(vault, resourceGroupName);`
sould be

`return client.**backupJobs**.list(vault, resourceGroupName);`

[2018-02-02 19:34] Marc-013 commented on #255
Class _jobs_ does not have method _list_.
[https://docs.microsoft.com/en-us/javascript/api/azure-arm-recoveryservicesbackup/jobs?view=azure-node-latest&viewFallbackFrom=azure-node-2.2.0](https://docs.microsoft.com/en-us/javascript/api/azure-arm-recoveryservicesbackup/jobs?view=azure-node-latest&viewFallbackFrom=azure-node-2.2.0)

[2018-05-11 20:19] RickBullotta opened #317 "Examples!"
Any API documentation is 10-100X more valuable if concrete examples are provided for common processes such as an end-to-end example of a device provisioning itself, setting tags, etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a9df1f-cafd-844b-301f-554555d8f9ae
* Version Independent ID: 2a886da6-a7d4-38b6-37df-

[2018-05-16 17:07] RickBullotta opened #320 "Getting error on the 'get' method for this class"
Getting an error when trying to invoke the 'get' method on an object returned from the Client getTwin() method.  The get method does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ef8936-1dae-b904-1720-cf6bf4d4ab78
* Version Independent ID: b426ed8b-4bb1-2c3c-20cb-12ea28e961dd
* Content: [Twin class](https

[2018-06-22 17:29] abramjstamper opened #347 "Device Id"
Should the device description have the additional fields listed here that are available, but undocumented in MS Docs like status and authentication? (see this PR https://github.com/Azure/azure-iot-sdk-node/pull/309)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2991e7d2-7067-9aed-88cc-99d9c5dde2b4
* Version Independen

[2018-07-23 06:17] longsoft-dev opened #353 "toArray doesn't return Promise at all!"
This document is a little deceptive? The API doesn't support Promise as far as I can see from the source code. You still need to pass in a callback function to e.g. toArray() and can't use:
var docs = await iter.toArray()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613e4a33-bef2-b33c-6931-172e1541b54f
* Version Inde

[2018-08-27 09:28] fiftin opened #381 "Error: client.profiles.listAllInResourceGroup is not a function"
Received error when trying run code from example (in Azure Function App).
My code:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10f74fe-dc7c-635e-86e8-d4c1094b7c6f
* Version Independent ID: 0d5ed087-ba6a-9e65-2eb4-49acae107138
* Content: [Azure Traffic Manager modules for Node.js](https://docs.microsoft.com/e

[2018-10-09 03:21] XiaoningLiu opened #402 "Aborter.None has been renamed to Aborter.none in 10.1.0-preview of @azure/storage-blob"
Aborter.None has been renamed to Aborter.none in 10.1.0-preview of @azure/storage-blob, seems the document above is not fully updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fea566e-6e5a-363a-8dd6-74e2b21fb348
* Version Independent ID: 14710998-1130-3128-938a-25fc21b413fd
* Content: [Aborter class](https://doc

[2018-10-11 18:05] codefoster opened #405 "Missing API reference for Node.js"
Azure Storage is a commodity service and Node.js is one of the most popular runtimes in the world and we don't have detailed documentation (an API reference) for it. I search Azure Storage Documentation for a certain method (listBlobsSegmented) and I get 0 results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9328406

[2018-10-21 03:47] dzeyelid opened #410 "Links to pages about Messaging in getting started document is wrong"
These links to take to pages about messaging in this page below is wrong. These three links(Event Grid, Service Bus, Queue storage) jump to a page that is [getting started for IoT Hub for Node.js](https://docs.microsoft.com/ja-jp/azure/iot-hub/quickstart-send-telemetry-node).

Messaging - Azure for JavaScript developers
https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest#mess

[2018-10-21 04:08] dzeyelid commented on #410
I found pages that seem to be correct, so created a pull request. Please check it.

[2018-10-26 15:35] tigeratom59 opened #415 "TigerBins"
Thank

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b5377d0-a713-200d-c384-84da89c637c2
* Version Independent ID: fd0a360f-63d4-0c01-1765-f90ad0b9b803
* Content: [AccountSASPermissions class](https://docs.microsoft.com/en-us/javascript/api/%40azure/storage-blob/accountsaspermissions?view=azure-node-preview#add)
* Con

[2018-11-06 03:38] zhiliangxu opened #424 "[Node][Reference] Link to reference of Azure for Node.js wrong"
Look at the page here: https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest
![image](https://user-images.githubusercontent.com/2852646/48041494-57ea3900-e1b8-11e8-9f93-a01171dbd572.png)

Seems the link of Reference is incorrect.

// Copied from https://dev.azure.com/ceapex/Engineering/_workitems/edit/48455

[2018-11-15 21:48] andersponders opened #429 "wheres the source"
is the source for this SDK up somewhere or is all we get the zip with the bundle in it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d76dde8-c24c-db44-3487-a058759273de
* Version Independent ID: d6fcf3de-633b-660b-c55c-9a00dc979e22
* Content: [Cognitive Services Speech SDK for JavaScript](https://docs.microsoft.com/e

[2018-11-19 04:54] zea7ot opened #430 "How to create a table?"
How to create a table?
How to create a method like createTableIfNotExisting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16cc0734-3d62-4af4-a42e-1e9039cb3379
* Version Independent ID: a087b2a8-3c5b-575a-c5f7-0e030fd2900b
* Content: [Azure SQL modules for Node.js](https://docs.microsoft.com/en-us/javascript/api/overv

[2018-11-19 07:39] mahilleb-msft commented on #429
Hi @andersponders,

currently the .ZIP is all there is, but we're working on putting out an NPM package and source (hopefully this year, but it could slip into next).

Best, Mark

[2018-12-07 16:32] justono1 opened #438 "azure-eventgrid EventGridClient() second argument"
The Documentation states pass a string of 'your-subsciber-id' when the latest package from npm takes an optional argument of AzureServiceClientOptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6ba0031-7cb0-cd93-cb24-989b34fa2e3b
* Version Independent ID: cb6a421e-8ed0-8415-e73e-a1af9ecfe54b
* Content: [Azure Even

[2019-01-07 12:44] mahilleb-msft commented on #429
Check out https://github.com/Microsoft/cognitive-services-speech-sdk-js and https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk.

#please-close

[2019-01-07 13:54] #429 closed

[2019-01-10 01:30] johnataylor opened #465 "in the options blobAccessConditions should be accessConditions"
Check the implementation of the block blob upload for usage, this is current a direct line to a line of code, however just take a look at the implementation of the BlockBlobURL.upload function:

https://github.com/Azure/azure-storage-js/blob/a1b7084089bf85dd166aa8e89745964ea263d13a/blob/lib/BlockBlobURL.ts#L180

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2019-02-22 22:28] auchenberg opened #473 "Landing page: Remove "Azure Node SDK" menu"
We should remove the Remove "Azure Node SDK" menu as there's nothing to select between.
![screen shot 2019-02-22 at 2 26 36 pm](https://user-images.githubusercontent.com/173559/53274947-08b80d80-36ae-11e9-9256-59772264904b.png)

Python don't have one, https://docs.microsoft.com/en-us/python/azure/?view=azure-python

[2019-02-22 22:29] auchenberg opened #474 "Collapse references node by default"
We should collapse the references node by default as it doesn't  have anything node/js specific.

![screen shot 2019-02-22 at 2 27 03 pm](https://user-images.githubusercontent.com/173559/53274997-3a30d900-36ae-11e9-96c4-8af018208ff1.png)

[2019-02-23 00:39] auchenberg opened #476 "Landing page: Clean up "Overview" node"
We should clean up the "Overview" node by either removing it,  or adding more content to. "Azure Modules" node doesn't make much sense on the context of not being SDK/reference docs.

![screen shot 2019-02-22 at 4 38 05 pm](https://user-images.githubusercontent.com/173559/53278803-69e8dc80-36c0-11e9-9e4d-4661670c6ad6.png)

[2019-02-23 00:49] auchenberg opened #477 "Landing page: Update "Quickstarts" Node with TOC from index"
We should update the "Quickstarts" Node with TOC from index/homepage. Right now they are out of sync.

![screen shot 2019-02-22 at 4 48 11 pm](https://user-images.githubusercontent.com/173559/53278974-c26ca980-36c1-11e9-8b2a-2e99b2415544.png)

[2019-02-23 00:50] auchenberg opened #478 "Landing page: Decide what to do with "How To Guides" node"
Decide what to do with "How To Guides" node. Keep? Remove? Screen content?

![screen shot 2019-02-22 at 4 49 29 pm](https://user-images.githubusercontent.com/173559/53279006-ec25d080-36c1-11e9-8bfc-f4c474a11369.png)

[2019-02-23 00:50] auchenberg opened #479 "Landing page: Decide what to do with "Samples" node. Keep? Remove? Screen content?"
![screen shot 2019-02-22 at 4 49 34 pm](https://user-images.githubusercontent.com/173559/53279007-f34cde80-36c1-11e9-89d8-8fdd9cba2951.png)

[2019-02-27 19:46] auchenberg opened #483 "Create card for GitHub Actions deployment"
https://css-tricks.com/introducing-github-actions/

https://github.com/sdras/awesome-actions

[2019-02-27 22:48] auchenberg opened #484 "Rename VSTS to Azure Pipelines"

[2019-02-27 23:09] auchenberg opened #485 "Landing page: Reorganize sections (under debate)"
Move sections around on landing page to this order:
- Free
- Hosting
- DevOps
- Debugging
- Tools
- Storage
- Auth
- Monitoring
- Messaging
- IOT
- SDK

[2019-02-28 22:36] KarlErickson commented on #473
There's no preview content right now, so the Preview option is spurious. Also, it shouldn't say Azure Node SDK since it has conceptual in it as well as ref.

[2019-03-04 22:24] #484 closed

[2019-03-04 22:26] #474 closed

[2019-03-04 23:50] #483 closed

[2019-03-05 22:49] auchenberg opened #492 "Landing page: Reorder DevOps sections"
Reorder DevOps sections, so Pipelines and Github actions are first.

[2019-03-06 23:33] auchenberg opened #495 "Setup redirect for https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs"
We should setup a redirect for https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs to point to the dev center.

Conversation is going on with the right team.

[2019-03-11 21:38] auchenberg opened #500 "Landing page: PWA icons isn't visible in dark mode"
<img width="403" alt="Screen Shot 2019-03-11 at 2 38 04 PM" src="https://user-images.githubusercontent.com/173559/54159894-57360d80-440b-11e9-845c-c5c421704a4d.png">

[2019-03-12 16:11] KarlErickson commented on #495
@auchenberg I think what we need here is to update the links to this topic from within our dev-center topics so that the dev-center TOC is preserved when navigating within the dev center. The topic itself lives in the App Service docs so we can't redirect all external links (e.g. from search engines) to the dev-center TOC without moving the topic.

[2019-03-12 18:18] KarlErickson commented on #477
TOC should match the cards.

[2019-03-12 18:19] KarlErickson commented on #476
Remove for now?

[2019-03-12 18:24] KarlErickson commented on #495
Per our discussion, this topic is obsolete and the preferred content here is a topic in the dev-center quickstarts area. Also, we want customers who find this link on search engines (top ranked) to end up in the dev center, so a redirect is preferred.

[2019-03-12 18:26] KarlErickson opened #502 "Add contextual TOC parameters to links from dev-center cards on the landing page"

[2019-03-12 18:28] KarlErickson commented on #492
Put Continuous Integration card last.
![image](https://user-images.githubusercontent.com/1775795/54225933-f0236200-44b9-11e9-842d-45676fac6bf4.png)

[2019-03-13 02:02] #492 closed

[2019-03-13 17:04] #415 closed

[2019-03-13 17:08] KarlErickson commented on #16
Updated URL: https://docs.microsoft.com/en-us/javascript/azure/node-samples-services-database?view=azure-node-latest

[2019-03-13 21:11] KarlErickson commented on #402
Doc now shows Aborter.none.

[2019-03-13 21:11] #402 closed

[2019-03-13 21:27] KarlErickson commented on #410
Fixed

[2019-03-13 21:27] #410 closed

[2019-03-13 21:32] #16 closed

[2019-03-13 21:47] KarlErickson commented on #424
Fixed

[2019-03-13 21:47] #424 closed

[2019-03-13 22:11] KarlErickson commented on #203
Spoke with @fiveisprime and determined that what is being requested is snippet coverage of these scenarios in the reference documentation. Currently, only basic snippets are present.

[2019-03-14 22:16] KarlErickson commented on #473
Turns out there is preview content in the reference area, so we need to keep this.

[2019-03-14 22:16] #473 closed

[2019-03-15 17:55] auchenberg commented on #473
@KarlErickson What content is in preview?

[2019-03-15 18:15] KarlErickson commented on #473
For example, https://docs.microsoft.com/en-us/javascript/api/azure-cognitiveservices-customimagesearch/?view=azure-node-preview.

[2019-03-16 01:51] auchenberg commented on #473
@KarlErickson Do you know which team that owns this content, and why we have "reference" documentation for SDKs as part of these docs?

[2019-04-29 18:53] #477 closed

[2019-06-19 18:01] kraigb commented on #485
@auchenberg Has there been any more thought about this? I know that there's a question about the SDK being last, with clicktale data suggesting it'd be much better to have it earlier, probably right after hosting.

[2019-07-01 16:23] benc-uk opened #576 "Content is ancient"
This is linked to from the main "Getting started with Azure and JavaScript" page https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest

Yet the content is extremely out of date an uses the deprecated SDK https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Migration.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-02 22:45] #485 closed

[2019-07-09 12:13] JeanBaptisteScellier opened #582 "DataLakeStoreAccountClient or DataLakeStoreAccountManagementClient"
At [Azure Data Lake Store modules for Node.js](https://docs.microsoft.com/en-us/javascript/api/overview/azure/data-lake-store?view=azure-node-latest) there is an object DataLakeStoreAccountClient created in the example.
But in the doc there is no mention of it. Though there is DataLakeStoreAccountManagementClient. Is it the same thing? Which one should be used?

Same question with DataLakeStoreFil

[2019-09-02 14:50] hanvyj commented on #438
Is there no response to this? It's been open for most of a year - kind of makes the documentation useless. This is the only example I can find and it simply doesn't work.

[2019-09-10 20:13] #500 closed

[2019-10-17 00:16] kraigb commented on #495
Completed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/90392 per instructions on https://dev.azure.com/mseng/TechnicalContent/_boards/board/t/JavaScript%20on%20Azure/Stories/?workitem=1477013

[2019-10-17 00:16] kraigb commented on #495
@KarlErickson or @auchenberg Can you close this?

[2019-10-30 12:20] jvineveld opened #626 "Links to the samples are broken"
The 4 'Getting started with' links are not working, they result in a 404

https://docs.microsoft.com/nl-nl/javascript/api/overview/azure/storage?view=azure-node-latest

[2019-11-28 06:24] chandrakantaS opened #650 "Please update the Samples link."
This is out dated and shows 404 page not found:

https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage?view=azure-node-latest#samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93284063-6cd1-1860-2f90-71db47c0a1dd
* Version Independent ID: 9ea83e77-7277-cd01-d340-734d6146b51f
* Content: [Azure Stor

[2019-12-09 10:33] mjmhall opened #656 "Links broken"
The following links don't work:

Securing a web API with Azure AD - https://azure.microsoft.com/resources/samples/active-directory-node-webapi/

Integrating Azure AD into a NodeJS web application -  https://azure.microsoft.com/resources/samples/active-directory-node-webapp-openidconnect/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-18 15:02] #495 closed

[2020-01-23 09:37] allanchua101 opened #673 "Use async / await with try catch on demo docs."
[Enter feedback here]
The document looks quite old and it requires more cognitive effort to read for developers used to async/await in NodeJS.

To solve the issue, implementing the sample on async/await with try catch will reduce callback hell and cognitive workload required to understand sample better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-28 18:35] HeidiSteen opened #674 "Azure Search is rebranded"
Can you change the service name to "Azure Cognitive Search" and the metadata to "cognitive-search".  There is no change to package names, etc.  It's a marketing/rebranding effort only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a282c233-fe7c-b493-6c31-0a240ce08fa1
* Version Independent ID: a64c67e4-e0df-caec-86c4-d

[2020-01-29 22:41] mhopkins-msft commented on #405
@codefoster is this what you need?

https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/?view=azure-node-latest

[2020-01-29 22:52] codefoster commented on #405
@mhopkins-msft, the issue is not so much the unavailability of the documentation you pointed to, but the inability to discover it doing a [search for listBlobsSegmented from Azure Storage Documentation](https://docs.microsoft.com/en-us/search/?search=listBlobsSegmented&scope=Azure&category=Documentation&skip=0), which brings up 3 results - two of which are .NET and one of which is rather unrelated

[2020-02-05 14:02] svbeon commented on #438
These docs references the package `azure-eventgrid` but if you look at "Client" in the side menu it shows the API for `@azure/eventgrid` - Which one is correct?

[2020-02-05 14:04] swantzter opened #678 "npm package confusion azure- or @azure/?"
These docs references the package `azure-eventgrid` but if you look at "Client" in the side menu it shows the API for `@azure/eventgrid` - Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6ba0031-7cb0-cd93-cb24-989b34fa2e3b
* Version Independent ID: cb6a421e-8ed0-8415-e73e-a1af9ecfe54b
* Content: [

[2020-02-11 23:08] ramya-rao-a opened #682 "Update cognitive services ref doc to use new packages"
https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/cognitive-services.md needs to be updated to use the newer `@azure/cognitiveservices*` packages

cc @willmtemple, @xirzec

[2020-02-20 18:29] noelbundick opened #692 "Usage of this page via Azure Portal"
When you visit the Overview page of a Storage Account in the Azure Portal, there is a Tools and SDKs -&gt; Node.js link that points to this page, hosting it in an iframe

There are a number of links on this page to npm for the storage client libraries

npm sets the "x-frame-options: DENY" header, which prevents it from being displayed in said iframe

The end result is that when trying to learn how

[2020-03-13 05:01] ManishTiwari-cloud opened #698 "Cannot access 'vn' before initialization"
I have integrated Microsoft azure speech to text in my angular 8 application.

It is working on locally but when i deployed my code to test env it's giving me error 'Cannot access 'vn' before initialization' on this line const sdk = require('microsoft-cognitiveservices-speech-sdk');.

My test env is unsecured network.

Below is my code:

starAudioRecording() {
        const audioConstraints = {

[2020-04-20 21:14] luistrigueiros opened #720 "More realistic example using FileShare to download images"
Hi I am looking for a more realistic example of Node.JS SDK for File Share client API that showcases downloading. something like a image. or pdf file and not just a simple text file.
My problem is with the download example it does not show how to treat binary content.
In particular the example:

[basic auth](https://github.com/Azure/azure-sdk-for-js/blob/master/sdk/storage/storage-file-share/sampl

[2020-04-23 09:55] luistrigueiros commented on #720
Hi I found what I wanted with the download to buffer method in the FileClient.

[2020-04-23 15:06] githubavi opened #724 "Do we have ConfigureRefresh kind option available like .NET SDK"
Do we have ConfigureRefresh kind option available like .NET SDK? basically like to refresh Key values in specific interval or do it in event driven way

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f508c9f-6a6a-f8b2-5458-8ff07766b5ae
* Version Independent ID: bf71f0f5-fec7-6fc3-e1b2-80c80a6bdc0e
* Content: [Azure App

[2020-04-23 15:10] maggiepint commented on #720
Excellent

[2020-04-23 15:10] #720 closed

[2020-05-08 18:38] CarlRabeler commented on #430
IF EXISTS (SELECT * FROM sys.objects
WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[mySampleTable]') AND TYPE IN (N'U'))
DROP TABLE [dbo].[mySampleTable]

[2020-05-08 18:38] CarlRabeler commented on #430
#please-close

[2020-05-11 23:14] CarlRabeler commented on #430
#please-close

[2020-06-09 17:57] DrachovDmytro opened #746 "404 link"
Link "App Service Mobile completed quickstart for JavaScript backend" is 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e9dea72-c62e-2d8e-88e3-368047ef25cf
* Version Independent ID: d2c061df-ac84-f063-6dd5-17a9f302f7a1
* Content: [Azure Notification Hubs modules for JavaScript](https://docs.microsoft.com/en-us/jav

[2020-06-09 22:22] kaerm commented on #682
done

[2020-06-09 22:22] #682 closed

[2020-06-11 23:05] erikerikson opened #749 "Add API Docs to API Reference"
I followed links to an API library reference.  I expected to see API documentation but found none.  Please offer documentation of the API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0289ee-a3fd-820b-2c15-77019efaf323
* Version Independent ID: 1230d950-e015-ef08-51e3-d84dca0e99df
* Content: [Azure App Service modu

[2020-06-17 12:58] deyaaeldeen opened #753 "Bad tutorial link"
I get page not found error when I click on "Developing a JavaScript app using CosmosDB API" which is a link to https://azure.microsoft.com/en-us/resources/samples/azure-cosmos-db-documentdb-nodejs-getting-started/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc14d27f-a7d3-2a8a-07c2-1d73943cf84b
* Version Independent

[2020-06-25 12:12] craigshoemaker commented on #692
Unfortunately, this page no longer exists.

#please-close

[2020-06-26 02:30] tony-gutierrez opened #759 "samples are 404 jackasses"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4eae4e-e7aa-913c-b37e-4c030e7e21b0
* Version Independent ID: 49051203-4c9a-afe3-e6a6-d34ca1d9426b
* Content: [Azure Active Directory Modules for Node.js](https://docs.microsoft.com/en-us/javascript/api/overview/azure/activedirectory?view=azure-node-

[2020-06-30 22:25] noelbundick commented on #692
@craigshoemaker This is still broken in the Azure Portal in prod as of 2020-06-30. Repro steps:

Open a Storage Account, scroll to Tools and SDKs
![image](https://user-images.githubusercontent.com/1970162/86182765-6996f780-bae5-11ea-8536-f732d04ed41b.png)

Visit Node.js
![image](https://user-images.githubusercontent.com/1970162/86182816-829fa880-bae5-11ea-82b2-b2b38244f108.png)

Click @azure/stora

[2020-07-09 17:11] jongio commented on #692
@maggiepint @kaerm - Can we help get this fixed?

[2020-07-09 17:13] kaerm commented on #692
@rishabpoh could you help with this?

[2020-07-16 22:58] jmhammock opened #772 "Sample links return 404 pages"
The two links in the 'Samples' section at the bottom of the page return 404 pages.
The links anchor text are:

- Securing a web API with Azure AD
- Integrating Azure AD into a NodeJS web application

![Screen Shot 2020-07-16 at 4 54 44 PM](https://user-images.githubusercontent.com/46335962/87730591-7a9e6480-c785-11ea-9241-a6acc46355b4.png)

---
#### Document Details

⚠ *Do not edit this section. I

[2020-07-23 19:42] #772 closed

[2020-09-14 20:56] johnpbaldwin opened #856 "parameter name changed to includeTotalCount"
This page says to get the search result count, use a parameter called "includeTotalResultCount" which is no longer correct as of 11.0.0 (per the changeling). The correct parameter name is includeTotalCount. In 11.0.3 (perhaps other versions as well), the old parameter name fails to return a count.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-10-15 04:50] tamram commented on #692
#reassign: @rishabpoh

[2020-10-15 18:03] noelbundick commented on #692
Noticed activity on this & rechecked. - looks like this issue has been resolved. SDK links now open in a new tab versus an iframe blade.

[2020-10-15 18:03] #692 closed

[2020-10-15 19:09] tamram commented on #650
#reassign: @tamram

[2020-10-15 19:10] tamram commented on #650
@chandrakantaS - Thanks for your feedback. I'm no longer seeing the 404. Is there still an issue here?

[2020-10-15 19:23] tamram commented on #405
#reassign: @tamram

[2020-10-15 19:30] tamram commented on #405
@codefoster - Thanks for your feedback!

I know you opened this some time ago. I think the search functionality has improved in the meantime. The latest JavaScript package for blobs is now v12.x, and it no longer supports the listBlobsSegmented method. Instead the [ContainerClient class](https://docs.microsoft.com/javascript/api/@azure/storage-blob/containerclient?view=azure-node-latest) includes

[2020-10-15 19:32] tamram commented on #405
@noelbundick - Could you close this one?

[2020-10-15 19:44] codefoster commented on #405
I'm fine with closing this. Glad to see the improvements. Thanks.

[2020-10-15 19:45] #405 closed

[2020-10-19 16:43] tamram commented on #650
@noelbundick - Could you please close? Thanks!

[2020-10-19 20:10] noelbundick commented on #650
@tamram I'm afraid you might have me confused for the content owner for these issues. I can't close this item, and I'm not on the team that owns this

[2020-10-19 21:05] tamram commented on #650
@noelbundick - Sorry about that!

[2020-10-21 17:07] dereklegenzoff opened #918 "Incorrect parameter name IncludeTotalResultCount"
Hi there - there parameter named `IncludeTotalResultCount` that is mentioned in this article is incorrect. The correct name is `includeTotalCount`. I believe this needs to be updated elsewhere in the docs as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71857399-795d-8987-e076-419107564600
* Version Independent

[2020-11-20 18:20] #674 closed

[2020-12-14 17:56] tamram commented on #650
#please-close

[2020-12-14 20:59] scbedd commented on #650
@tamram Yeah no problem let me close this.

If you need assistance w/ any of the following repositories:

Azure/azure-docs-sdk-dotnet
Azure/azure-docs-sdk-java
MicrosoftDocs/azure-docs-sdk-node
MicrosoftDocs-azure-docs-sdk-python

I can help you out. Feel free to reach out directly to me on teams as well.

[2020-12-14 20:59] #650 closed

[2020-12-23 02:04] xzf0587 opened #998 "Lack of administratorType property in SqlManagementModels.ServerAzureADAdministrator"
When I want to set a AAD admin for SQL by @azure/arm-sql, the class of SqlManagementModels.ServerAzureADAdministrator has no property about administratorType  which is required by azure rest api doc [https://docs.microsoft.com/en-us/rest/api/sql/serverazureadadministrators/createorupdate](url). And I indeed failed by warning lack of this property.

[2021-01-02 15:13] shanebdavis opened #1002 "Example is for an older version of the SDK"
[Enter feedback here]

This page's example is out of date. It doesn't show how to use `@azure/arm-storage` with `@azure/identity` or `@azure/ms-rest-nodeauth`. Instead it uses `azure-arm-storage` and `ms-rest-azure`. It starts with:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7e458e-7cb1-a0ea-380e-9989c220

[2021-01-05 10:01] zhiweiv opened #1003 "Incorrect content for ContainerClient and PageBlobClient"
https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/containerclient?view=azure-node-latest#ContainerClient_string__Pipeline_

It should be container url?

https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/pageblobclient?view=azure-node-latest#PageBlobClient_string__Pipeline_

It should be page blob url?

[2021-01-05 12:31] sijucm opened #1004 "container.item(<id>).read() does not work"
The page shows example with container.item(1).read(). It did not work for me and I found the solution from stackoverflow, after wasting some time because of this documentation, that item(<id>, <partitionKey>) should be used. I tried also the read({partitionKey:<partiionKey>}) as well but that also does not work. That way was found in some other Microsoft documentation. Maybe this is an SDK version

[2021-01-06 00:26] ramya-rao-a commented on #203
The latest set of API reference docs for the below packages have inline code snippets
- [@azure/keyvault-keys](https://docs.microsoft.com/en-us/javascript/api/%40azure/keyvault-keys/keyclient?view=azure-node-latest)
- [@azure/keyvault-certificates](https://docs.microsoft.com/en-us/javascript/api/@azure/keyvault-certificates/certificateclient?view=azure-node-latest)
- [@azure/keyvault-secrets](http

[2021-01-06 00:26] #203 closed

[2021-01-06 00:31] ramya-rao-a commented on #353
I am guessing this is an issue with the older version of the `@azure/cosmos` package

The `QueryIterator` class in the latest version of the `@azure/cosmos` package does not have the `toArray` method anymore.
The methods `fetchAll` and `fetchNext` on this class in the latest version of the package does return a promise.

cc @zfoster

[2021-01-06 00:31] #353 closed

[2021-01-06 00:34] ramya-rao-a commented on #381
Thanks for reporting @fiftin and apologies for the delay in response

Looks like the page [Azure Traffic Manager modules for Node.js](https://docs.microsoft.com/en-us/javascript/api/overview/azure/traffic-manager?view=azure-node-latest) for which this issue was logged has been since updated and I don't see the above code snippet there.

Moreover, the `azure-arm-trafficmanager` package has been dep

[2021-01-06 00:34] #381 closed

[2021-01-06 00:57] ramya-rao-a commented on #465
@ljian3377 This is regarding the v10 of `@azure/storage-blob` package. Can you provide any clarification here?

[2021-01-06 01:20] ramya-rao-a commented on #678
Thanks for reporting @swantzter and apologies for the delay in response

@ellismg Can you update the page athttps://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/eventgrid.md to point to `@azure/eventgrid` instead?  You can use https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/service-bus.md as a reference.

Please add a t

[2021-01-06 01:23] ramya-rao-a commented on #724
@richardpark-msft Do you have any insights here?

@githubavi , Thanks for reporting and apologies for the delay in response. For further questions, please log an issue at https://github.com/Azure/azure-sdk-for-js

[2021-01-06 01:25] ramya-rao-a commented on #753
@zfoster Can you fix this link at https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/cosmos-db.md?

[2021-01-06 01:28] ramya-rao-a commented on #856
Thanks for reporting @johnpbaldwin and apologies for the delay in response.

The source of this page is https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/search/search-documents/readme.md which populates the https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/search-documents-readme.md on each release of the package. So, will move this to the https://github.c

[2021-01-06 01:28] richardpark-msft commented on #724
Hi @githubavi, we don't have that feature in the JavaScript SDK for App Configuration, unfortunately.

[2021-01-06 01:31] ramya-rao-a commented on #856
Closing in favor of https://github.com/Azure/azure-sdk-for-js/issues/13082

[2021-01-06 01:31] #856 closed

[2021-01-06 01:32] ramya-rao-a commented on #918
Thanks for reporting @dereklegenzoff

We will track this in https://github.com/Azure/azure-sdk-for-js/issues/13082

[2021-01-06 01:32] #918 closed

[2021-01-06 01:35] ramya-rao-a commented on #998
Thanks for reporting @xzf0587
I have copied this issue to https://github.com/Azure/azure-sdk-for-js/issues/13083 which is the right repo for questions on `@azure/arm-sql` package. Please subscribe to the copied issue

[2021-01-06 01:35] #998 closed

[2021-01-06 01:52] ramya-rao-a commented on #1002
Thanks for reporting @shanebdavis, that is a good catch!

Will be fixed with #1009

[2021-01-06 01:53] ramya-rao-a commented on #1003
Thanks for reporting @zhiweiv

@ljian3377, Can you please take a look?

[2021-01-06 02:21] ljian3377 commented on #465
We don't plan to fix doc issues for the V10.

We have a more serious issue with V10 as it depends on the axios which has security issues but we don't plan to it too. Maybe we need some kind of deprecation of V10.

[2021-01-06 02:36] ramya-rao-a commented on #465
Thanks @ljian3377

Closing this issue as the guidance is to use the latest v12 of the storage packages rather than v10 for which this issue is logged

[2021-01-06 02:36] #465 closed

[2021-01-06 18:34] Dack3n opened #1010 "Sample javascript code missing an element"
Within the "event" body, the "eventTime" must be provided. I was able to fire the event and see it in my azure portal after adding in a correctly formatted DateTime.

Cheers,
Jesse

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb1e0b0-bee3-eeb8-fd9c-04e3892fe0d4
* Version Independent ID: cb6a421e-8ed0-8415-e73e-a1af9

[2021-01-12 03:11] #1003 closed

[2021-01-21 20:41] richardpark-msft commented on #724
(Closing this issue for now. If anything changes here I will update it)

[2021-01-21 20:41] #724 closed

[2021-02-01 23:22] ramya-rao-a commented on #1010
Thanks for reporting @Dack3n

Would you be interested in creating a PR to fix this? The file to update would be https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/eventgrid.md

[2021-02-01 23:24] ramya-rao-a commented on #1004
Thanks for reporting @sijucm

@southpolesteve, @zfoster Can we have the content here fixed? The file to update is https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/cosmos-readme.md

[2021-02-01 23:25] ramya-rao-a commented on #1002
The PR #1009 is merged and the content has been updated.

[2021-02-01 23:25] #1002 closed

[2021-02-01 23:30] ramya-rao-a commented on #759
@CelesteDG I see that the links were removed in https://github.com/CelesteDG/azure-docs-sdk-node/commit/788d8391bfd3b0e2b092018542f2cab172f5d8f7, but references to the samples still remain. What is the use of listing samples, but not having any links to them? If we do not want to highlight these samples, shouldnt the listing be removed as well?

[2021-02-01 23:38] ramya-rao-a commented on #753
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-js/issues/13518

[2021-02-01 23:38] #753 closed

[2021-02-01 23:38] ramya-rao-a commented on #1004
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-js/issues/13518

[2021-02-01 23:38] #1004 closed

[2021-02-01 23:41] ramya-rao-a commented on #698
Apologies for the late reply here

This repo is for the various docs under https://docs.microsoft.com/javascript/api

Your problem seems to be with the [microsoft-cognitiveservices-speech-sdk](https://www.npmjs.com/package/microsoft-cognitiveservices-speech-sdk) package. Issues for this package can be logged at https://github.com/Microsoft/cognitive-services-speech-sdk-js

[2021-02-01 23:41] #698 closed

[2021-02-01 23:43] ramya-rao-a commented on #656
Thanks for reporting @mjmhall

Looks like @CelesteDG has pushed a change to remove the links now, but retained the listing of samples.

Closing in favor of https://github.com/MicrosoftDocs/azure-docs-sdk-node/issues/759 which is tracking the same problem

[2021-02-01 23:43] #656 closed

[2021-02-01 23:43] CelesteDG commented on #759
Good call out, @ramya-rao-a - I initially couldn't make any changes to that page without going through other folks but I see now that I'm able to edit it. I'll update to make sure we send a link here: https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-v2-libraries

[2021-02-01 23:45] ramya-rao-a commented on #746
@mpodwysocki Can you please provide the right links to use here?
The page in question is [Azure Notification Hubs modules for JavaScript](https://docs.microsoft.com/en-us/javascript/api/overview/azure/notification-hubs?view=azure-node-latest) and the source md file to fix is https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/notification-hubs.md

[2021-02-01 23:47] ramya-rao-a commented on #626
Thanks for reporting @jvineveld and our apologies for not responding sooner

The storage overview page has seen quite some updates over the last year. I don't see any getting started links in https://docs.microsoft.com/en-us/javascript/api/overview/azure/storage-overview?view=azure-node-latest at the moment.

Closing this issue for now

[2021-02-01 23:47] #626 closed

[2021-02-01 23:50] ramya-rao-a commented on #582
Thanks for reporting @JeanBaptisteScellier and our apologies for not responding sooner.

The page [Azure Data Lake Store modules for Node.js](https://docs.microsoft.com/en-us/javascript/api/overview/azure/data-lake-store?view=azure-node-latest) has since been updated multiple times and does not have a reference for DataLakeStoreAccountClient anymore.

Please log a new issue at https://github.com/A

[2021-02-01 23:50] #582 closed

[2021-02-02 00:01] ramya-rao-a commented on #576
Thanks for reporting @benc-uk and our apologies for not responding sooner

@diberry While a lot of content here has changed in https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest, can you do a review of https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest to make sure we are not pointing to any older packages?

[2021-02-02 00:02] ramya-rao-a commented on #502
Hey @KarlErickson,
Can you provide any more details or context on this issue?

@diberry,
Assigning to you as this is most likely related to the dev center cards on https://docs.microsoft.com/en-us/javascript/azure/?view=azure-node-latest

[2021-02-02 00:07] ramya-rao-a commented on #673
Thanks for reporting @allanchua101 and our apologies for the late response

I have created an issue for this in the repo for the `microsoft-cognitiveservices-speech-sdk` package. Please subscribe to https://github.com/microsoft/cognitive-services-speech-sdk-js/issues/316 for updates.

You are also welcome to send a PR to fix this up as well. The file to update would be https://github.com/Microsoft

[2021-02-02 00:07] #673 closed

[2021-02-02 00:08] ramya-rao-a commented on #479
@diberry Can you take a call on this?

[2021-02-02 00:09] ramya-rao-a commented on #478
@diberry, Can you take a call on this?

[2021-02-02 00:10] ramya-rao-a commented on #476
@diberry, Can you take a call on this?

[2021-02-02 00:10] #430 closed

[2021-02-02 00:13] ramya-rao-a commented on #347
Thanks for reporting @abramjstamper

@anthonyvercolano, Can someone from your team take a look at this?

[2021-02-02 00:15] ramya-rao-a commented on #320
Thanks for reporting @RickBullotta

@anthonyvercolano, Can someone from your team take a look at this?

[2021-02-02 00:17] ramya-rao-a commented on #317
@anthonyvercolano, Can someone from your team take a look at this? Not sure if this is still applicable. If it is, I believe moving this issue to https://github.com/Azure/azure-iot-sdk-node would be the right move

[2021-02-02 00:30] KarlErickson commented on #502
@ramya-rao-a @diberry not sure if this is still relevant. Any links in the hub-page cards that are in the dev-center TOC, but where the link itself is for a topic in another TOC (such as a service topic) should have contextual parameters to preserve the presence of the dev-center TOC.

[2021-02-02 01:23] ramya-rao-a commented on #678
@ellismg I have gone ahead and made the changes in #1059. Please review

[2021-02-02 01:26] ramya-rao-a commented on #1010
On the other hand, we will be updating this page to favor the newer `@azure/eventgrid` package and removing the code sample for azure-eventgrid package which is being done as part of https://github.com/MicrosoftDocs/azure-docs-sdk-node/issues/678 in https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1059

So, will close this issue

[2021-02-02 01:26] #1010 closed

[2021-02-02 01:28] ramya-rao-a commented on #759
Thanks @CelesteDG!

The corresponding PR #1058 is merged and the content should go live soon!

[2021-02-02 01:28] #759 closed

[2021-02-02 01:32] ramya-rao-a commented on #438
With #1059 we are moving away from having code sample for the individual packages in the landing page for the service in the ref docs. That pre-empts the problem presented here

Also, we will soon release v3 of `@azure/eventgrid` that will come with extensive samples. You can get a look at those in https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventgrid/eventgrid/samples

Thanks for re

[2021-02-02 01:32] #438 closed

[2021-02-02 22:10] diberry commented on #576
Clean is in progress. @benc-uk Is there a specific page you were concerned about or just a general clean up? The content is currently going through a refresh which is not complete.

[2021-02-02 22:15] diberry commented on #502
@KarlErickson I've seen UI studies that say this is confusing to customers. Is this a repo-wide requirement?

[2021-02-02 22:16] diberry commented on #479
@ramya-rao-a  A teams call? Or do you mean make a decision?

[2021-02-02 22:19] diberry commented on #478
This is already in progress @ramya-rao-a Can we please close? #please-close

[2021-02-02 22:19] diberry commented on #476
#please-close

[2021-02-02 22:35] #476 closed

[2021-02-02 22:54] #478 closed

[2021-02-02 22:54] ramya-rao-a commented on #479
A decision :)

[2021-02-03 00:10] KarlErickson commented on #502
@diberry no, not a requirement. Feel free to disregard.

[2021-02-05 20:00] mpodwysocki commented on #746
@ramya-rao-a The proper link for the [App Service Mobile completed quickstart for Node.js backend](https://github.com/Azure-Samples/app-service-mobile-nodejs-backend-quickstart) is on GitHub in an archived repository.

[2021-02-05 23:12] ramya-rao-a commented on #746
Thanks @mpodwysocki
There are 2 links that are giving 404

![image](https://user-images.githubusercontent.com/16890566/107098592-67f08900-67c4-11eb-9650-3c9dd1c5e72d.png)

What link should be used for the last one?

Can you send a PR to fix these links? The file to update is https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/docs-ref-services/latest/notification-hubs.md

[2021-02-06 20:08] benc-uk commented on #576
I created this issue a while ago, at the time the SDKs were undergoing another rewrite. I recall finding links to outdated repos and docs. I would have assumed things are better now

[2021-02-07 03:48] ramya-rao-a commented on #576
Thanks @benc-uk!

Will close this one for now, please do feel free to log a new issue if you find any issue with the docs.
We will be keeping a closer eye on the issues than before

[2021-02-07 03:48] #576 closed

[2021-02-08 18:57] mpodwysocki commented on #746
@ramya-rao-a done: https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1073

[2021-02-08 20:22] ramya-rao-a commented on #746
Thanks @mpodwysocki!

[2021-02-08 20:22] #746 closed

[2021-02-11 02:35] ramya-rao-a commented on #678
This is now fixed. See https://docs.microsoft.com/en-us/javascript/api/overview/azure/eventgrid

Thanks!

[2021-02-11 02:35] #678 closed

[2021-02-11 02:37] ramya-rao-a commented on #502
Closing for now as there is no agreed upon next steps here.

[2021-02-11 02:37] #502 closed

[2021-02-11 02:46] diberry commented on #479
Already dealt with this, sorry for not letting you know. Single link to samples browser now with ts/js/node checked. #please-close

[2021-02-11 03:10] #479 closed

[2021-02-11 10:46] swantzter commented on #678
Thank you!

[2021-02-18 20:25] anthonyvercolano commented on #317
Copied the bug.  I don't have the privs to close.

[2021-02-18 20:31] anthonyvercolano commented on #320
Carried over to our repo.  Someone with priv needs to close this one.

[2021-02-18 20:41] anthonyvercolano commented on #347
This has been carried over by the issue in [azure/azure-iot-sdk-node #934](https://github.com/Azure/azure-iot-sdk-node/issues/934)

[2021-02-18 21:15] ramya-rao-a commented on #320
Close this issue as we will be tracking it in https://github.com/Azure/azure-iot-sdk-node/issues/933

[2021-02-18 21:15] #320 closed

[2021-02-18 21:16] ramya-rao-a commented on #347
Closing as we will be tracking this in https://github.com/Azure/azure-iot-sdk-node/issues/934

[2021-02-18 21:16] #347 closed

[2021-02-18 21:16] ramya-rao-a commented on #317
Closing as we will be tracking this in https://github.com/Azure/azure-iot-sdk-node/issues/932

[2021-02-18 21:16] #317 closed

[2021-04-30 18:10] danieljurek opened #1219 "Disable automatic pushing of ref docs to live"
This was done on 4/22/2021 at 10:54 AM Redmond time

[2021-07-21 11:54] leongross opened #1268 "Unicode Characters"

[2021-07-21 11:54] #1268 closed

[2021-10-26 20:06] azure-sdk opened #1315 "azure-template failed to update to Doc.ms."

[2021-10-26 22:42] azure-sdk opened #1317 "azure-template failed to update to Doc.ms."

[2021-10-27 20:22] #1317 closed, assigned to nobody

[2022-01-24 14:10] bcazur opened #1357 "No sample code provided for listEntities"
The documentation quality is rather poor, as it doesn't provide a sample for a very basic scenario: query using a filter.
We would expect at least one example with a filter on RowKey or on PartitionKey.

[2022-01-24 14:54] bcazur commented on #1357
For whom it may interest, here is how to listEntities using a filter (sample table Users using email as RowKey).
[code]

[2022-10-19 20:56] ouphi opened #1445 "Add Sample code to submit a spark job with '@azure/synapse-spark'"
Provide a sample code showing how to create a spark job with '@azure/synapse-spark'.

[2022-10-19 21:12] ouphi commented on #1445
Opened PR: https://github.com/MicrosoftDocs/azure-docs-sdk-node/pull/1446

[2022-11-25 06:25] microsoft-github-policy-service[bot] opened #1460 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance